# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Hugo default output directory
/public/

# Node dependencies
node_modules/

# macOS
.DS_Store
